.alalevt-container {
  position: absolute;
  top: 70px;
  left: 250px;
  right: 0;
  bottom: 0;
  padding: 20px 40px;
  background-color: #f8faec;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  overflow-y: auto;
}

.alalevt-heading {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.alalevt-box {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.alalevt-topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.alalevt-search {
  position: relative;
}

.alalevt-search input {
  padding: 10px 12px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 14px;
  padding-left: 35px;
}

.alalevt-search-icon-left {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

.alalevt-show-entries {
  display: flex;
  align-items: center;
  gap: 8px;
}

.alalevt-show-entries select {
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.alalevt-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.alalevt-table th,
.alalevt-table td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.alalevt-category {
  background-color: #f0f74a;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
}

.alalevt-type {
  background-color: #ececec;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
}

.alalevt-reservation {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.alalevt-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.alalevt-pagination button {
  border: 1px solid #ccc;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 3px;
  cursor: pointer;
}

.alalevt-pagination .alalevt-active {
  background-color: #e5ffa4;
  font-weight: bold;
  border: none;
}
